* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.text-font {
  letter-spacing: 0.5px;
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #fdfdfd,
    #fbfcfb,
    #fafafa,
    #f8f8f8,
    #f8f8f8,
    #f8f8f8,
    #f8f8f8,
    #fafafa,
    #fbfcfb,
    #fdfdfd,
    #ffffff
  );
}

.left a {
  display: flex;
}

.left div {
  font-size: 2.2em;
}

.left img {
  width: 5%;
  margin-right: 7px;
}

#nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav li {
  padding-right: 25px;
}

.hero-section {
  background-image: radial-gradient(
      circle at 28% 90%,
      rgba(113, 113, 113, 0.03) 0%,
      rgba(113, 113, 113, 0.03) 24%,
      transparent 24%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 65%,
      rgba(173, 173, 173, 0.03) 0%,
      rgba(173, 173, 173, 0.03) 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 12%,
      rgba(141, 141, 141, 0.03) 0%,
      rgba(141, 141, 141, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 14%,
      rgba(119, 119, 119, 0.03) 0%,
      rgba(119, 119, 119, 0.03) 35%,
      transparent 35%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 90%,
      rgba(42, 42, 42, 0.03) 0%,
      rgba(42, 42, 42, 0.03) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 100%,
      rgba(234, 234, 234, 0.03) 0%,
      rgba(234, 234, 234, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
  height: 660px;

  display: flex;
  justify-content: center;
  align-self: center;
  gap: 100px;
}
.hero-section-text {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 180px;
}

.hero-section-text h1 {
  font-size: 3em;
}
.hero-section-text h3 {
  padding-top: 30px;
  color: #373737;
  font-weight: 600;
}

.hero-section-img {
  width: 40%;
}

.hero-section-img img {
  padding-top: 80px;
  mix-blend-mode: multiply;
  display: block;
  max-width: 500px;
  max-height: 600px;
  width: auto;
  height: auto;
}

.upload-link:hover {
  text-decoration: underline;
}

.feat {
  background-image: radial-gradient(
      circle at 67% 83%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 1%,
      transparent 1%,
      transparent 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 24% 80%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 27%,
      transparent 27%,
      transparent 63%,
      transparent 63%,
      transparent 100%
    ),
    radial-gradient(
      circle at 23% 5%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 26%,
      transparent 26%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    radial-gradient(
      circle at 21% 11%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 35%,
      transparent 35%,
      transparent 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 11%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 21%,
      transparent 21%,
      transparent 81%,
      transparent 81%,
      transparent 100%
    ),
    radial-gradient(
      circle at 19% 61%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 20%,
      transparent 20%,
      transparent 61%,
      transparent 61%,
      transparent 100%
    ),
    radial-gradient(
      circle at 13% 77%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 63%,
      transparent 63%,
      transparent 72%,
      transparent 72%,
      transparent 100%
    ),
    radial-gradient(
      circle at 30% 93%,
      hsla(317, 0%, 96%, 0.05) 0%,
      hsla(317, 0%, 96%, 0.05) 33%,
      transparent 33%,
      transparent 82%,
      transparent 82%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(22, 176, 207), rgb(103, 7, 215));
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 60px 100px;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid-item {
  padding: 40px 60px;
  font-weight: 500;
}

.feat img {
  width: 85%;
}

.feat-text-heading {
  font-size: 2.5em;
  font-weight: bolder;
  padding-bottom: 15px;
}

.section-3 {
  display: flex;
  margin: 100px 170px;
  justify-content: center;
  align-items: center;
}

.section-3 img {
  width: 40%;
  margin-left: 120px;
}

.section-3-text h1 {
  font-size: 2.5em;
}

.section-3-text p {
  padding: 30px 0;
  font-size: 18px;
  text-align: justify;
}

.section-3-text button {
  padding: 12px 25px;
  border-radius: 40px;
  border: none;
  background-color: #6c2dda;
  color: white;
  font-weight: 500;
}

.section-3-text button:hover {
  cursor: pointer;
  background-color: #5122a2;
  text-decoration: underline;
}

.techstack {
  margin: 70px 0;
  text-align: center;
  font-size: 1.4em;
  font-weight: 800;
  text-decoration: underline;
  color: #3e69a7;
}
.techstack img {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 20px;
}

.section-4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px 200px;
  justify-content: center;
  align-items: center;
}

.section-4 img {
  width: 58%;
  display: block;
  margin: auto;
}

.section-4-heading {
  font-size: 4em;
  text-align: center;
  font-weight: 800;
  color: #6e3f91;
}

.section-4-text {
  text-align: center;
  padding: 10px 40px;
  font-weight: 600;
}

.section-5 {
  background-color: #e6ebff;
  font-weight: 500;
  text-align: center;
  padding: 100px;
}

.footer {
  background: #10182f;
  font-weight: 600;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  font-size: 0.85em;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  font-size: 0.85em;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  font-size: 0.85em;
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
  margin-left: 20px;
  font-size: 0.75em;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}

.section-3-text p span {
  font-style: bold;
}
