* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    #ffffff,
    #fdfdfd,
    #fbfcfb,
    #fafafa,
    #f8f8f8,
    #f8f8f8,
    #f8f8f8,
    #f8f8f8,
    #fafafa,
    #fbfcfb,
    #fdfdfd,
    #ffffff
  );
  color: black;
}

.left a {
  display: flex;
}

.left div {
  font-size: 2.2em;
}

.left img {
  width: 5%;
  margin-right: 7px;
}

#nav {
  display: flex;
  flex-direction: row;
  font-size: 1.3em;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav li {
  padding-right: 25px;
}

.box,
.box1 {
  width: 900px;
  height: 600px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 80px;
  margin-bottom: 100px;
  color: black;
}
.box1 {
  display: none;
}

.box .left1 {
  width: 50%;
  display: inline;
  float: left;
  text-align: center;
  padding-top: 70px;
}
.box .right1 {
  width: 50%;
  display: inline;
  float: right;
}
.box1 .left2 {
  width: 50%;
  display: inline;
  float: left;
}
.box1 .right2 {
  width: 50%;
  display: inline;
  float: right;
  text-align: center;
}

.right1 img {
  width: 430px;
  height: 500px;
  margin-top: 40px;
}
.left2 img {
  width: 430px;
  height: 500px;
  margin-top: 40px;
}

.div1 input {
  font-weight: 500;
  height: 30px;
  width: 65%;
  margin-top: 20px;
  border-radius: 4px;
  border-color: #cccaca;
  padding: 15px;
}

.left1 img {
  width: 15%;
  display: block;
  margin: auto;
  margin-top: 70px;
}

.right2 img {
  width: 15%;
  display: block;
  margin: auto;
  margin-top: 70px;
}

.rem {
  margin-top: 35px;
  margin-right: 8px;
}
.btn {
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(21, 150, 60);
  color: white;
  margin-left: 20%;
  font-weight: 500;
}

.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn:active {
  opacity: 0.9;
}

hr {
  width: 90%;
  margin-top: 35px;
  background-color: #817e7e;
  border: 1px solid grey;
  margin-bottom: 40px;
}

@media only screen and (max-width: 900px) {
  .box,
  .box1 {
    width: 90%;
  }
  .right1 img,
  .left2 img {
    width: 100%;
    height: 100%;
    margin-top: 170px;
  }
}
@media only screen and (max-width: 600px) {
  .left1,
  .right2 {
    width: 100%;
    float: none !important;
  }

  .right1 img,
  .left2 img {
    display: none;
  }

  .left1 img,
  .right2 img {
    padding-top: 30px;
    width: 50px;
  }

  .box .div2 {
    line-height: 35px;
  }
}

.sign,
.login1 {
  color: rgb(17, 17, 108);
  text-align: center;
  margin-top: -40px;
  margin-bottom: 60px;
  font-size: 22px;
  font-weight: bold;
}
.sign:hover,
.login1:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login1 {
  display: none;
}

.div3 input {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-weight: 500;
  height: 30px;
  width: 65%;
  border-radius: 4px;
  border-color: #cccaca;
  padding: 15px;
}

.tnc {
  margin-top: 30px;
  margin-right: 10px;
}

.right2 button {
  display: block;
  margin: auto;
  margin-top: 25px;
}

@media only screen and (max-width: 250px) {
  .box {
    height: 720px;
  }
}

button {
  font-weight: 600;
}

.footer {
  background: #10182f;
  font-weight: 600;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  margin-left: -40px;
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489c6;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 7px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
  margin-left: 20px;
  font-size: 0.8em;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover {
  color: #fff;
}
