<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/chatbot.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>Chatbot</title>
    <script>
      function submitQuestion(event) {
        event.preventDefault();
        var formData = new FormData(document.getElementById("chatForm"));
        fetch("/chat", {
          method: "POST",
          body: formData,
        })
          .then((response) => response.json())
          .then((data) => {
            document.getElementById("chatResponse").innerText = data.response;
          })
          .catch((error) => console.error("Error:", error));
      }
    </script>
  </head>
  <body>
    <header>
      <a href="index.html"><img src="../static/assests/logo.png" /></a>
      <div>VitalityNet</div>
    </header>
    <div id="main">
      <h1 class="heading">Medical Field Chatbot</h1>
      <form id="chatForm" onsubmit="submitQuestion(event)">
        <label for="message" class="subtext">Ask me anything about the medical field:</label
        >
        <input type="text" id="message" name="message" required />
        <input type="submit" value="Ask" id="btn"/>
      </form>
      <div id="chatResponse"></div>
    </div>
  </body>
</html>
