<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>VitalityNet</title>
  </head>
  <body>
    <header>
      <div class="left">
        <a href="#"
          ><img src="../static/assests/logo.png" />
          <div>VitalityNet</div></a
        >
      </div>
      <div class="right">
        <ul id="nav">
          <li><a href="#" target="_blank">Home</a></li>
          <li><a href="{{url_for('predict')}}">Predict</a></li>
          <li><a href="{{ url_for('chat') }}">Chat</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="payment.html" target="_blank">Pricing</a></li>
        </ul>
      </div>
    </header>

    <div class="hero-section">
      <div class="hero-section-text">
        <h1>Revolutionizing NHL Detection with Quantum Machine Learning</h1>
        <h3 class="text-font">
          Welcome to our platform utilizing Quantum Machine
          Learning (QML) for the precise detection of Non-Hodgkin Lymphoma (NHL)
          through histopathological images.<br>
          <a href="predict.html" class="text-font upload-link">Upload your scans now!</a>
        </h3>
      </div>
      <div class="hero-section-img">
        <img src="../static/assests/Doctor_And_Patient.jpg" />
      </div>
    </div>

    <div class="feat">
      <img src="../static/assests/img1.jpg" class="grid-item" />
      <div class="grid-item">
        <p class="feat-text-heading">Who Are We?</p>
        <p class="text-font">
          We are a passionate team of students and Ml enthusiasts dedicated to improving patient outcomes through AI-powered innovation.  Our mission is to revolutionize NHL diagnosis by providing pathologists with a powerful and reliable tool.  
        </p>
      </div>
      <div class="grid-item">
        <p class="feat-text-heading">What We Do?</p>
        <p class="text-font">
          Traditional NHL diagnosis can be subjective and time-consuming. We address these challenges by providing a powerful and efficient solution.  Leveraging Quantum Machine Learning technology, our model analyzes histopathological images with reliable accuracy, offering pathologists a valuable second opinion.  This leads to earlier detection of NHL, allowing for better treatment options and improved patient outcomes.  The platform seamlessly integrates into existing workflows, streamlining the diagnostic process and empowering pathologists to focus on patient care.
        </p>
      </div>
      <img src="../static/assests/img2.jpg" alt="" class="grid-item" />
    </div>

    <div class="section-3">
      <div class="section-3-text">
        <h1>Why early detection matters?</h1>
        <p class="text-font">
          Early detection of Non-Hodgkin Lymphoma is crucial as it significantly
          improves patient outcomes and survival rates. When detected at an
          early stage, the <b>5-year survival rate</b>  for NHL is around 73% globally
          and <b>80% in India</b> , compared to only 57% and 40% respectively when
          diagnosed at an advanced stage. Early-stage NHL is more treatable,
          with patients having a higher chance of achieving complete remission
          and better long-term progression-free survival. Moreover, early
          detection reduces the economic burden on patients, families, and
          healthcare systems, as treatment costs for advanced NHL can be up to
          three times higher than early-stage disease in India. With NHL being
          the <b>7th most common cancer</b>  globally and accounting for 2.2% of all
          cancers in India, effective early detection methods like our Quantum
          Machine Learning approach can potentially save countless lives and
          improve overall NHL management.
        </p>
        <button>
          <a href="chatbot.html">Learn more about NHL &rarr;</a>
          </button>
      </div>
      <img src="../static/assests/sec3.png" alt="" />
    </div>

    <div class="section-4">
      <div class="section-4-heading">> 1 million</div>
      <img src="../static/assests/lung.jpg" alt="" />
      <div class="section-4-heading">~ 85%</div>
      <div class="section-4-text">cases per year in India</div>
      <div class="section-4-text">
        NHL disrupts the body's natural defense system by attacking the lymphatic system.
      </div>
      <div class="section-4-text">accuracy of our model</div>
    </div>

    <div class="section-5 text-font">
      improvement
      <br />
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi iste quam
      perspiciatis impedit magni repudiandae, ipsam voluptatem tempora molestias
      nesciunt aperiam maxime unde quos minima commodi dolore ullam illum dolor.
    </div>

    <div class="techstack">
      Tech Stack Used:
      <img src="../static/assests/techstack.jpg" alt="" />
    </div>

    <section class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Service</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul class="links">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Newsletter</h4>
          <p>
            Subscribe to our newsletter for a weekly dose
            of news, updates, and
            exclusive offers.
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required>
            <button type="submit">SUBSCRIBE</button>
          </form>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
