<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>

    <link rel="stylesheet" href="static/login.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <a href="index.html"><img src="static/assests/logo.png" /></a>
      <div>VitalityNet</div>
    </header>

    <div class="main">
      <!-- Log in box -->
      <div class="box">
        <form action="/login" method="POST">
          <div class="left1">
            <img src="static/assests/acc.png" />
            <div class="div1">
              <input type="text" name="username" placeholder="Username/Email" required />
              <input type="password" name="password" placeholder="Password" required />
            </div>
            <div class="div2">
              <input type="checkbox" class="rem" />Remember Me
              <button type="submit" class="btn">Login</button>
            </div>
            <hr />
            <div class="login">
              <!-- Social login buttons -->
            </div>
          </div>
          <div class="right1">
            <img src="static/assests/login.png" />
          </div>
        </form>
      </div>

      <!-- Sign in box -->
      <div class="box1">
        <div class="left2">
          <img src="static/assests/signin.png" />
        </div>

        <div class="right2">
          <img src="static/assests/acc.png" />

          <div class="div3">
            <input type="text" placeholder="Name" required />
            <input type="text" placeholder="Email" required />
            <input type="number" placeholder="Phone Number" required />
            <input type="number" placeholder="Age" required />
            <input type="password" placeholder="New Password" required />
            <input type="password" placeholder="Retype Password" required />
          </div>
          <div>
            <input type="checkbox" class="tnc" />Agree to terms and
            conditions<sup>*</sup>
            <button class="btn">Sign up</button>
          </div>
        </div>
      </div>

      <div class="sign">Click here to Sign in instead &#8594;</div>
      <div class="login1">Click here to Log in instead &#8594;</div>
    </div>

    <script src="static/login.js"></script>
  </body>
</html>
