<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account</title>

    <link rel="stylesheet" href="../static/payment.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div class="left">
        <a href="#"
          ><img src="../static/assests/logo.png" />
          <div>VitalityNet</div></a
        >
      </div>
      <div class="right">
        <ul id="nav">
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="{{url_for('predict')}}">Predict</a></li>
          <li><a href="{{ url_for('chat') }}">Chat</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{url_for('payment')}}">Pricing</a></li>
        </ul>
      </div>
    </header>

    <div class="main">
      <div class="box box-1">
        <div>
          <h3>Basic</h3>
          <h1>$5 <span> /scan</span></h1>
          <li>One scan at a time</li>
          <li>Instant results</li>
          <li>Basic customer support</li>
          <li>Pay-as-you-go option</li>
          <button>Get Started &rarr;</button>
        </div>
      </div>
      <div class="box box-2">
        <div>
          <h3>Premium</h3>
          <h1>$19.99 <span> /month</span></h1>
          <li>Unlimited scan</li>
          <li>Priority support</li>
          <li>Advanced features</li>
          <li>Flexible subscription options</li>

          <button>Get Started &rarr;</button>
        </div>
      </div>

      <div class="box box-3">
        <div>
          <h3>Enterprise</h3>
          <h1>Custom Pricing</h1>
          <li>Tailored solutions</li>
          <li>Personalized support</li>
          <li>Dedicated account manager</li>
          <li>Custom integrations</li>
          <li>Scalable infrastructure</li>

          <button>Get Started &rarr;</button>
        </div>
      </div>
    </div>
    <section class="footer">
      <div class="footer-row">
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Customers</a></li>
            <li><a href="#">Service</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Legal</h4>
          <ul class="links">
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Newsletter</h4>
          <p>
            Subscribe to our newsletter for a weekly dose of news, updates, and
            exclusive offers.
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required />
            <button type="submit">SUBSCRIBE</button>
          </form>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
